:root{
  --background-color: rgb(226, 226, 226);
  --text-color: black;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'poppings', sans-serif;
  background-color: var(--background-color);
}

.thank-you-section h2{
  padding: 0px 50px;
  font-size: 18px;
  margin-top: 50px;
}

.thank-you-message{
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 50px;
}

.h1-text{
  font-size: 60px;
}

.request-submission{
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 200px;
  margin-top: 20px;
}

